<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Calling to Srujana</h1>
        <h1>lifted the call</h1>
        <h1>Eraaa ThinnavaRaaa.....</h1>
        <h1>Eraa vadilesthunavaaaRaaa...????</h1>

        <a href="{% url 'srujana' %}"><h2>Response to srujana</h2></a>
        <a href="{% url 'manoj2' %}"><h2>manoj2 rply</h2></a>
    </center>
</body>
</html>